# === PROMPT MANAGER SERVE ===
# "development" (default) ou "production"
ENVIRONMENT_PROMPT_MANAGER=development
PROMPT_DIR=agents/prompts
MAX_PROMPT_SIZE=100_000
PROMPT_MANAGER_PORT=5000
FLASK_SECRET_KEY=abc123
PROMPT_MANAGER_SERVER_TIMEZONE=America/Sao_Paulo